server:
  port: 9090
spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/studyplatform
  data:
    neo4j:
      uri: bolt://localhost:7687
      username: neo4j
      password: 123456

mybatis:
  type-aliases-package: com.pandora.model
  mapper-locations: classpath:mapperxml/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl