<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandora.studyplatform.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.pandora.studyplatform.model.Course">
    <!--@mbg.generated-->
    <!--@Table course-->
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_summary_id" jdbcType="INTEGER" property="courseSummaryId" />
    <result column="course_image_url" jdbcType="VARCHAR" property="courseImageUrl" />
    <result column="course_teacher" jdbcType="VARCHAR" property="courseTeacher" />
    <result column="course_label" jdbcType="VARCHAR" property="courseLabel" />
    <result column="course_homeworks" jdbcType="VARCHAR" property="courseHomeworks" />
    <result column="course_institution" jdbcType="VARCHAR" property="courseInstitution" />
    <result column="course_announcement_id" jdbcType="VARCHAR" property="courseAnnouncementId" />
    <result column="course_reference_id" jdbcType="VARCHAR" property="courseReferenceId" />
    <result column="course_release_time" jdbcType="TIMESTAMP" property="courseReleaseTime" />
    <result column="course_selected" jdbcType="INTEGER" property="courseSelected" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    course_id, course_name, course_summary_id, course_image_url, course_teacher, course_label, 
    course_homeworks, course_institution, course_announcement_id, course_reference_id, 
    course_release_time, course_selected
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from course
    where course_id = #{courseId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="course_id" keyProperty="courseId" parameterType="com.pandora.studyplatform.model.Course" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseSummaryId != null">
        course_summary_id,
      </if>
      <if test="courseImageUrl != null">
        course_image_url,
      </if>
      <if test="courseTeacher != null">
        course_teacher,
      </if>
      <if test="courseLabel != null">
        course_label,
      </if>
      <if test="courseHomeworks != null">
        course_homeworks,
      </if>
      <if test="courseInstitution != null">
        course_institution,
      </if>
      <if test="courseAnnouncementId != null">
        course_announcement_id,
      </if>
      <if test="courseReferenceId != null">
        course_reference_id,
      </if>
      <if test="courseReleaseTime != null">
        course_release_time,
      </if>
      <if test="courseSelected != null">
        course_selected,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseSummaryId != null">
        #{courseSummaryId,jdbcType=INTEGER},
      </if>
      <if test="courseImageUrl != null">
        #{courseImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="courseTeacher != null">
        #{courseTeacher,jdbcType=VARCHAR},
      </if>
      <if test="courseLabel != null">
        #{courseLabel,jdbcType=VARCHAR},
      </if>
      <if test="courseHomeworks != null">
        #{courseHomeworks,jdbcType=VARCHAR},
      </if>
      <if test="courseInstitution != null">
        #{courseInstitution,jdbcType=VARCHAR},
      </if>
      <if test="courseAnnouncementId != null">
        #{courseAnnouncementId,jdbcType=VARCHAR},
      </if>
      <if test="courseReferenceId != null">
        #{courseReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="courseReleaseTime != null">
        #{courseReleaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseSelected != null">
        #{courseSelected,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pandora.studyplatform.model.Course">
    <!--@mbg.generated-->
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_summary_id = #{courseSummaryId,jdbcType=INTEGER},
      course_image_url = #{courseImageUrl,jdbcType=VARCHAR},
      course_teacher = #{courseTeacher,jdbcType=VARCHAR},
      course_label = #{courseLabel,jdbcType=VARCHAR},
      course_homeworks = #{courseHomeworks,jdbcType=VARCHAR},
      course_institution = #{courseInstitution,jdbcType=VARCHAR},
      course_announcement_id = #{courseAnnouncementId,jdbcType=VARCHAR},
      course_reference_id = #{courseReferenceId,jdbcType=VARCHAR},
      course_release_time = #{courseReleaseTime,jdbcType=TIMESTAMP},
      course_selected = #{courseSelected,jdbcType=INTEGER}
    where course_id = #{courseId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-02-18-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    </select>

<!--auto generated by MybatisCodeHelper on 2022-02-18-->
  <select id="selectOneByCourseId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where course_id=#{courseId,jdbcType=INTEGER}
  </select>

  <select id="selectIndexCourse" resultMap="BaseResultMap">
    select
    course_id,course_name,course_teacher,course_institution,course_image_url
    from course
    limit 20
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-04-->
  <select id="selectAllByCourseLabel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where course_label=#{courseLabel,jdbcType=VARCHAR}
  </select>

  <!--auto generated by MybatisCodeHelper on 2022-03-04-->
  <select id="selectAllByCourseLabelLimit" resultMap="BaseResultMap">
    select
    course_id,course_name,course_teacher,course_institution,course_image_url
    from course
    where course_label=#{courseLabel,jdbcType=VARCHAR}
    limit 2
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-05-->
  <select id="selectByCourseNameLike" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where course_name like concat('%',#{likeCourseName,jdbcType=VARCHAR},'%')
    </select>
</mapper>