<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandora.studyplatform.mapper.StudyStyleMapper">
  <resultMap id="BaseResultMap" type="com.pandora.studyplatform.model.StudyStyle">
    <!--@mbg.generated-->
    <!--@Table study_style-->
    <id column="style_id" jdbcType="INTEGER" property="styleId" />
    <result column="style_shape" jdbcType="VARCHAR" property="styleShape" />
    <result column="style_name" jdbcType="VARCHAR" property="styleName" />
    <result column="style_des" jdbcType="VARCHAR" property="styleDes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    style_id, style_shape, style_name, style_des
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from study_style
    where style_id = #{styleId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="style_id" keyProperty="styleId" parameterType="com.pandora.studyplatform.model.StudyStyle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into study_style
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="styleShape != null">
        style_shape,
      </if>
      <if test="styleName != null">
        style_name,
      </if>
      <if test="styleDes != null">
        style_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="styleShape != null">
        #{styleShape,jdbcType=VARCHAR},
      </if>
      <if test="styleName != null">
        #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="styleDes != null">
        #{styleDes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pandora.studyplatform.model.StudyStyle">
    <!--@mbg.generated-->
    update study_style
    set style_shape = #{styleShape,jdbcType=VARCHAR},
      style_name = #{styleName,jdbcType=VARCHAR},
      style_des = #{styleDes,jdbcType=VARCHAR}
    where style_id = #{styleId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-02-27-->
  <select id="selectOneByStyleShape" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from study_style
        where style_shape=#{styleShape,jdbcType=VARCHAR}
    </select>
</mapper>