<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pandora.studyplatform.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.pandora.studyplatform.model.Test">
    <!--@mbg.generated-->
    <!--@Table test-->
    <id column="test_id" jdbcType="INTEGER" property="testId" />
    <result column="test_title" jdbcType="VARCHAR" property="testTitle" />
    <result column="test_time" jdbcType="TIMESTAMP" property="testTime" />
    <result column="test_num" jdbcType="INTEGER" property="testNum" />
    <result column="test_question_list" jdbcType="VARCHAR" property="testQuestionList" />
    <result column="test_answer_list" jdbcType="VARCHAR" property="testAnswerList" />
    <result column="test_state" jdbcType="VARCHAR" property="testState" />
    <result column="test_score" jdbcType="INTEGER" property="testScore" />
    <result column="test_course_id" jdbcType="INTEGER" property="testCourseId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    test_id, test_title, test_time, test_num, test_question_list, test_answer_list, test_state, 
    test_score, test_course_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from test
    where test_id = #{testId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="test_id" keyProperty="testId" parameterType="com.pandora.studyplatform.model.Test" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testTitle != null">
        test_title,
      </if>
      <if test="testTime != null">
        test_time,
      </if>
      <if test="testNum != null">
        test_num,
      </if>
      <if test="testQuestionList != null">
        test_question_list,
      </if>
      <if test="testAnswerList != null">
        test_answer_list,
      </if>
      <if test="testState != null">
        test_state,
      </if>
      <if test="testScore != null">
        test_score,
      </if>
      <if test="testCourseId != null">
        test_course_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testTitle != null">
        #{testTitle,jdbcType=VARCHAR},
      </if>
      <if test="testTime != null">
        #{testTime,jdbcType=TIMESTAMP},
      </if>
      <if test="testNum != null">
        #{testNum,jdbcType=INTEGER},
      </if>
      <if test="testQuestionList != null">
        #{testQuestionList,jdbcType=VARCHAR},
      </if>
      <if test="testAnswerList != null">
        #{testAnswerList,jdbcType=VARCHAR},
      </if>
      <if test="testState != null">
        #{testState,jdbcType=VARCHAR},
      </if>
      <if test="testScore != null">
        #{testScore,jdbcType=INTEGER},
      </if>
      <if test="testCourseId != null">
        #{testCourseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pandora.studyplatform.model.Test">
    <!--@mbg.generated-->
    update test
    set test_title = #{testTitle,jdbcType=VARCHAR},
      test_time = #{testTime,jdbcType=TIMESTAMP},
      test_num = #{testNum,jdbcType=INTEGER},
      test_question_list = #{testQuestionList,jdbcType=VARCHAR},
      test_answer_list = #{testAnswerList,jdbcType=VARCHAR},
      test_state = #{testState,jdbcType=VARCHAR},
      test_score = #{testScore,jdbcType=INTEGER},
      test_course_id = #{testCourseId,jdbcType=INTEGER}
    where test_id = #{testId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-19-->
  <select id="selectOneByTestTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test
        where test_time=#{testTime,jdbcType=TIMESTAMP}
    </select>

<!--auto generated by MybatisCodeHelper on 2022-03-19-->
  <select id="selectOneTestIdByTestTime" resultType="java.lang.Integer">
    select test_id
    from test
    where test_time=#{testTime,jdbcType=TIMESTAMP}
  </select>

  <!--auto generated by MybatisCodeHelper on 2022-03-19-->
  <select id="selectOneTestId" resultType="java.lang.Integer">
    select @@IDENTITY
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-22-->
  <update id="updateTestScoreAndTestAnswerListAndTestStateByTestId">
    update test
    set test_score=#{updatedTestScore,jdbcType=INTEGER}, test_answer_list=#{updatedTestAnswerList,jdbcType=VARCHAR},
    test_state=#{updatedTestState,jdbcType=VARCHAR}
    where test_id=#{testId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-03-22-->
  <select id="selectOneByTestId" resultMap="BaseResultMap">
    select
    test_title,test_score,test_time
    from test
    where test_id=#{testId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-22-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    test_id,test_title,test_score,test_time
    from test
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-23-->
  <select id="selectOneByTestIdAndTestTitle" resultMap="BaseResultMap">
    select
    test_id,test_title,test_score,test_time
    from test
    where test_id=#{testId,jdbcType=INTEGER} and test_title=#{testTitle,jdbcType=VARCHAR}
  </select>
</mapper>